@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color-rgb: 235 150 106;
    --primary-color: #ea7c69;
    --bg-dark-1: #252836;
    --bg-dark-2: #1f1d2b;
    --line: #393c49;
    --bg-form: #2d303e;
    --text-gray: #889898;
    --text-light-gray: #abbbc2;
    --text-lighter-gray: #e0e6e9;
    --white: #ffffff;
  }

  * {
    margin: 0;
    font-family: "Barlow", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--white);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .sidebar-container {
    width: 6.5rem;
  }

  .tabs-item {
    border-bottom: 2px solid var(--line);
  }

  .confirm-popup {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .payment-section {
    width: 405px;
  }
}
