@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: 235 150 106;
    --bg-dark-1: #252836;
    --bg-dark-2: #1f1d2b;
    --line: #393c49;
    --bg-form: #2d303e;
    --text-gray: #889898;
    --text-light-gray: #abbbc2;
    --text-lighter-gray: #e0e6e9;
    --white: #ffffff;
  }

  * {
    margin: 0;
    font-family: "Barlow", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--white);
  }
}

@layer components {
  .sidebar-container {
    width: 6.5rem;
  }

  .tabs-item {
    border-bottom: 2px solid var(--line);
  }
}
